.DS_Store
.pytest_cache/
.vscode/
.idea/
.env
scratch/
__pycache__/
dist/
lib/

cache/
paras_cache/
models/

*.py[cod]
.venv/
.venv310/
/data/
/dumps/
/pgdata/
*.dump
*.sql
downloads/

tmp/
out/
.snakemake/